/* Empty. Add your own CSS if you like */

.list .money {
  font-size: 40px;
  padding: 30px;
  color: #666;

}

.msg {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.row .col:nth-child(2n) {
  text-align: center;
}

.row .col:nth-child(3n) {
  text-align: right;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #000;
    font-size: 17px;
}
.bar-stable .button:hover {
    color: #444;
    text-decoration: none;
}

.numpad {
    border: none;
    font-size: 40px;
}

.tarjeta {
  text-align: center;
}

.pull-right {
  float: right;
}

.success h2 {
  font-size: 18px;
}

.success .item > div {
  margin-top: 10px;
}
.success .item .total {
  margin-top: 30px;

}
