@import "variables";

body {
    -webkit-backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li {
    font-family: 'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container,
.nav-container,
.footer-container,
nav,
nav.fixed,
.callout {
    max-width: 1600px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

.main-container {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    clear: both;
    position: relative;
}

.slider {
    position: relative;
}

a {
    text-decoration: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hero-slider {
    position: relative;
    overflow: hidden;
    background: #222;
}

.flex-control-nav {
    bottom: 16px;
}

.flex-control-nav li {
    margin: 0 7px;
}

.pull-right {
    right: 0;
}

.pull-left {
    left: 0;
}

.parallax .background-image-holder {
    transition: opacity 0.3s ease !important;
}

.parallax {
    overflow: hidden;
}

@media all and (max-width: 767px) {
    .hide-for-small {
        display: none;
    }
}
/*!---------- MIXINS ----------*/
.v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.v-align-children-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 990px) {
    .v-align-children {
        display: block !important;
    }
}
/*!---------- SECTIONS ----------*/
section {
    padding: 80px 0;
    position: relative;
    background: #fff;
}

section .container {
    position: relative;
    z-index: 2;
}

@media all and (max-width: 767px) {
    section {
        padding: 40px 0;
    }
}
/*!---------- TYPOGRAPHY ----------*/
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin: 0;
    cursor: default;
}

h1 {
    font-size: 66px;
    line-height: 74px;
    font-weight: 300;
    letter-spacing: -1px;
}

h2 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 300;
    letter-spacing: -1px;
}

h3 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 300;
    letter-spacing: -1px;
}

h4 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
}

h5 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h6.light {
    font-weight: 300;
    letter-spacing: 2px;
    margin-right: -2px;
}

@media all and (max-width: 1024px) {
    h1 {
        font-size: 60px;
        line-height: 68px;
    }

    h2 {
        font-size: 50px;
        line-height: 58px;
    }

    h3 {
        font-size: 40px;
        line-height: 48px;
    }

    h4 {
        font-size: 30px;
        line-height: 38px;
    }
}

@media all and (max-width: 990px) {
    h1 {
        font-size: 46px;
        line-height: 50px;
    }

    h2 {
        font-size: 46px;
        line-height: 50px;
    }

    h3 {
        font-size: 36px;
        line-height: 40px;
    }

    h4 {
        font-size: 26px;
        line-height: 30px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    cursor: default;
}

p.lead {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

p.sub {
    font-size: 12px;
    line-height: 16px;
}

p.sub a {
    font-weight: bold;
    color: #222;
}

p:last-child {
    margin-bottom: 0;
}

p a {
    color: $primary-color;
    font-weight: 700;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

p a:hover {
    color: #055ca8;
}

p.text-white a {
    color: #fff;
}

@media all and (max-width: 768px) {
    p.lead {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
}
/*!---------- BUTTONS ----------*/
.btn {
    display: inline-block;
    height: 55px;
    line-height: 53px;
    font-size: 18px;
    border-radius: 100px;
    padding: 0 36px;
    border: 1px solid #ccc;
    color: $primary-color;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: $primary-color;
}

.btn-filled {
    background: $primary-color;
    color: #fff;
    border: 1px solid $primary-color;
}

.btn-filled:hover,
.btn:hover {
    color: #fff;
    border-color: $primary-color;
}

.btn-filled:hover {
    background: #066ac0;
}

.btn.super-action {
    border-radius: 3px;
    height: 85px;
    line-height: 76px;
    font-size: 24px;
    font-weight: 300;
    min-width: 267px;
    border: 2px solid;
}

.btn.super-action.btn-filled {
    background: $primary-color;
    color: #fff;
    border: 2px solid $primary-color;
}

.btn.super-action.btn-filled:hover {
    background: #0677d9;
}

.btn-sm {
    height: 45px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 28px;
}

.btn-xs {
    height: 40px;
    line-height: 35px;
    font-size: 16px;
    padding: 0 26px;
}

@media all and (max-width: 767px) {
    .btn {
        height: 45px;
        line-height: 40px;
        font-size: 16px;
        padding: 0 28px;
    }

    .btn.super-action {
        height: 64px;
        line-height: 58px;
        min-width: 0px;
        font-size: 18px;
        font-weight: normal;
    }
}
/*!---------- COLOURS ----------*/
a {
    color: #888;
}

a:hover {
    color: #444;
}

.text-white {
    color: #fff !important;
}

.muted-white {
    color: #f8f8f8;
}

.bg-secondary {
    background: #f6f8fa;
}

section.bg-dark,
footer.bg-dark {
    background: #222;
}

section.bg-dark.bg-secondary,
footer.bg-dark.bg-secondary {
    background: #282828;
}

section.bg-dark h1,
footer.bg-dark h1,
section.bg-dark h2,
footer.bg-dark h2,
section.bg-dark h3,
footer.bg-dark h3,
section.bg-dark h4,
footer.bg-dark h4,
section.bg-dark h5,
footer.bg-dark h5,
section.bg-dark h6,
footer.bg-dark h6 {
    color: #fff;
}

section.bg-dark p,
section.bg-dark span,
footer.bg-dark {
    color: #eee;
}

section.bg-dark a,
footer.bg-dark span {
    color: #fff;
}

::selection {
    background: $primary-color;
    color: #fff;
}

::-moz-selection {
    background: $primary-color;
    color: #fff;
}
/*!---------- FORMS ----------*/
input,
textarea {
    -webkit-appearance: none;
}

textarea {
    font-weight: 400;
}

input[type="text"] {
    height: 54px;
    line-height: 48px;
    padding-left: 16px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 3px;
    font-size: 16px;
    color: #888888;
    font-weight: 400;
}

input[type="submit"] {
    font-weight: 500 !important;
    height: 54px;
    line-height: 48px;
    text-align: center;
    background: $primary-color;
    border: 1px solid $primary-color;
    font-size: 18px;
    font-weight: 300;
    padding: 0 36px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    color: #fff;
}

input[type="submit"]:hover {
    background: darken($primary-color, 10%);
    color: #fff;
}

input:focus,
textarea:focus {
    outline: none;
}

input.field-error,
textarea.field-error {
    outline: 1px solid #a83a3a;
}

form {
    position: relative;
    display: inline-block;
}

form p {
    margin-top: 12px;
}

form a {
    font-weight: bold;
}

.contained-form input[type="text"]:first-of-type {
    border-radius: 3px 0px 0px 3px;
    position: relative;
    left: 3px;
}

.contained-form input[type="text"]:nth-of-type(2) {
    border-radius: 0px;
    border-left: 1px solid #eee;
}

.contained-form input[type="submit"] {
    border-radius: 0px 3px 3px 0px;
    position: relative;
    right: 3px;
    top: 1px;
}

.form-success,
.form-error {
    position: absolute;
    bottom: 105%;
    left: 0;
    width: 100%;
    z-index: 20;
    background: #a83a3a;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    display: none;
}

.form-success {
    background: #3aa844;
}

@media all and (min-width: 767px) {
.contained-form input[type="text"]:first-of-type {
    width: 300px;
}
}

@media all and (max-width: 767px) {
    .contained-form input {
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }

    .contained-form input[type="text"]:first-of-type {
        border-bottom: none;
        border-radius: 3px 3px 0px 0px;
    }

    .contained-form input[type="text"]:nth-of-type(2) {
        border-radius: 0px;
        border-top: 1px solid #eee;
    }

    .contained-form input[type="submit"] {
        border-radius: 0px 0px 3px 3px;
        top: 0;
    }
}

.mail-list-form {
    display: none;
}
/*!---------- VIDEO ----------*/
video {
    max-width: 100%;
}

.local-video-container {
    position: relative;
}

.local-video-container video {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.local-video-container .background-image-holder {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    top: 0;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.26);
}

.background-image-holder.fadeout {
    opacity: 0 !important;
    z-index: 0;
}

.background-image-holder.parallax {
    height: 150%;
    top: -30%;
    transition: all 0s ease !important;
}

@media all and (max-width: 767px) {
    video {
        max-width: 100% !important;
    }
}

.play-button {
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 4;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.play-button:before {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #222222;
}

.play-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media all and (max-width: 767px) {
    .play-button {
        width: 65px;
        height: 65px;
        margin-top: -32px;
    }

    .play-button:before {
        position: absolute;
        top: 50%;
        margin-top: -9px;
        margin-left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20.0px;
        border-color: transparent transparent transparent #222222;
    }
}

.play-button.video-playing {
    transform: scale(0.5) translateY(300px);
    -webkit-transform: scale(0.5) translateY(300px);
    opacity: 0.7;
    display: none;
}

.play-button.video-playing:before,
.play-button.large.video-playing:before {
    border: none;
    width: 6px;
    height: 30px;
    background: #222;
    margin-top: -15px;
    margin-left: -10px;
}

.play-button.video-playing:after {
    content: '';
    width: 6px;
    height: 30px;
    position: absolute;
    background: #222;
    top: 50%;
    margin-top: -15px;
    margin-left: 2px;
}

.play-button.video-playing:hover {
    opacity: 1;
}

.play-button.large {
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.play-button.large:before {
    margin-top: -18px;
    margin-left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 31.0px;
    border-color: transparent transparent transparent #222222;
}

@media all and (max-width: 767px) {
    .play-button.large {
        width: 90px;
        height: 90px;
        margin-top: -45px;
    }

    .play-button.large:before {
        margin-top: -14px;
        margin-left: -8px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 25.0px;
        border-color: transparent transparent transparent #222222;
    }
}

.modal-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
    z-index: -1;
}

.modal-video video {
    margin: 0 auto;
    width: 675px;
    display: block;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.modal-video.reveal-modal {
    opacity: 1;
    z-index: 999;
}

.modal-video-container .play-button.video-playing {
    z-index: 1000;
}

@media all and (max-width: 767px) {
    .modal-video video {
        width: 100%;
        padding: 0 15px;
    }
}

.fs-video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.fs-video-wrapper video {
    position: absolute;
    width: 100%;
    left: 0;
}

.embed-video-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: inline-block;
}

.embed-video-container iframe {
    border: none;
    width: 100%;
    height: 312px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@media all and (max-width: 990px) {
    .embed-video-container {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 767px) {
    .embed-video-container iframe {
        height: 200px;
    }
}
/*!---------- LISTS ----------*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}
/*!---------- TABS ----------*/
.tabs {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.tabs li {
    display: inline-block;
}

.tabbed-content .content li {
    max-height: 0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    overflow: hidden;
    opacity: 0;
}

.tabbed-content .content li.active {
    opacity: 1;
    max-height: 3000px;
}

.tab-title {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0.7;
    cursor: pointer;
}

.tab-title .indicator {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.tab-title i {
    color: $primary-color;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 24px;
}

.tab-title h6 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-right: -2px;
    font-size: 12px;
    cursor: pointer;
}

.tabs li.active .tab-title,
.tabs li:hover .tab-title {
    opacity: 1;
}

.tabs li.active .tab-title .indicator {
    background: $primary-color;
}

.tab-content {
    width: 100%;
    overflow: hidden;
}

.tab-content img {
    display: inline-block;
    margin-bottom: 26.66666667px;
}

.tab-content h5 {
    margin-bottom: 20px;
}

.tab-content .embed-video-container {
    margin-bottom: 26.66666667px;
}

.tab-content iframe {
    width: 100%;
}

.tab-content .slides li {
    max-height: 8000px;
    opacity: 1;
}

.tab-content .flex-control-nav {
    bottom: 42px;
}

.tab-content .flex-control-nav li {
    max-height: 80px;
    opacity: 1;
}

.icon-tabs .tab-title {
    margin: 0 32px;
}

.text-tabs .tab-title {
    padding: 6px 18px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 8px;
    border-radius: 3px;
}

.text-tabs .tabs li:hover .tab-title {
    border-color: #ccc;
}

.text-tabs .tabs li.active .tab-title {
    border-color: $primary-color;
}

@media all and (max-width: 767px) {
    .icon-tabs .tab-title {
        opacity: .4;
        margin-bottom: 16px;
    }

    .tab-title .indicator {
        display: none;
    }
}
/*!---------- NAVIGATION ----------*/
.nav-container,
nav {
    overflow: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.nav-container.dismiss-active {
    min-height: 80px !important;
    max-height: 80px !important;
}

.nav-container.dark {
    background: #222;
}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

nav a {
    color: #666;
}

nav .logo {
    width: 140px;
    margin-top: 20px;
    //max-height: 40px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

@media all and (max-width: 768px) {
    nav {
        overflow: hidden;
    }
}

nav .callout {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav.fixed,
nav.overlay {
    position: fixed;
    top: 0;
    z-index: 98;
    left: 0;
    overflow: visible;
}

nav.shrink .navbar {
    height: 60px;
    max-height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

nav.shrink .btn {
    height: 45px;
    line-height: 40px;
    padding: 0 26px;
    font-size: 16px;
}

.navbar {
    border-radius: 0;
}

nav.dark .navbar {
    background: #222;
    color: #fff;
}

nav.dark a {
    color: #fff;
}

nav.dark .subnav li a {
    color: #666;
}

nav.dark .mobile-toggle .upper,
nav.dark .mobile-toggle .middle,
nav.dark .mobile-toggle .lower {
    background: #fff;
}

nav.overlay .navbar {
    background: rgba(255, 255, 255, 0.6);
}

nav.overlay.dark .navbar {
    background: rgba(35, 35, 35, 0.8);
}

nav.overlay.fixed .navbar {
    background: rgba(255, 255, 255, 0.9);
}

nav.overlay.fixed.dark .navbar {
    background: rgba(35, 35, 35, 0.95);
}

nav ul {
    display: inline-block;
}

nav ul li {
    float: left;
    margin-right: 26.66666667px;
    font-size: 14px;
}

nav ul ul {
    position: absolute;
    background: #fff;
    visibility: hidden;
    z-index: 999;
    min-width: 150px;
    padding: 0;
    border-radius: 3px;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 0;
}

nav ul ul li {
    line-height: 32px;
    text-align: left;
    position: relative;
    margin-right: 0;
    width: 100%;
}

nav ul ul li a {
    display: block;
    padding: 0 20px;
    width: 100%;
}

nav ul ul li:first-child {
    padding-top: 8px;
}

nav ul ul li:last-child {
    padding-bottom: 8px;
}

nav ul li:hover ul:nth-of-type(1) {
    visibility: visible;
    opacity: 1;
}

nav ul li:hover .subnav .subnav {
    visibility: hidden;
    opacity: 0;
}

.has-dropdown .has-dropdown:hover .subnav {
    visibility: visible;
    opacity: 1;
}

.has-dropdown .subnav .subnav {
    top: 0;
    left: 100%;
}


.navbar {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

/*!---------- HEADERS ----------*/
.header {
    padding: 0;
    background: $secondary-color;
}

@media all and (max-width: 767px) {
    .header br {
        display: none;
    }
}

.header-2 {
    padding: 120px 0;
}

.header-2:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #000;
    z-index: 2;
    top: 0;
    left: 0;
}

.header-2 h1 {
    margin-bottom: 8px;
}

.header-2 h5 {
    color: #fff;
}


@media all and (max-width: 767px) {
    .header-2 {
        padding: 80px 0;
    }

    .header-2 .local-video-container,
  .header-2 .embed-video-container {
        margin: 40px 0;
    }

    .header-2 video {
        width: 100%;
    }

    .header-2 .contained-form input[type="text"]:nth-child(2) {
        border-left: none;
    }

    .header-2 .embed-video-container iframe {
        height: 200px;
    }
}

/*!---------- FEATURES ----------*/
@media all and (max-width: 990px) {
    .features br {
        display: none;
    }

    .features .inner {
        margin: 40px 0;
    }
}

.features-3 h3 {
    margin-bottom: 20px;
}

.features-3 .feature i {
    font-size: 72px;
    color: $primary-color;
    display: inline-block;
    margin-bottom: 40px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.features-3 .feature:hover i {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

.features-3 .feature {
    cursor: default;
}

.features-7 {
    overflow: hidden;
    padding: 200px 0;
}

.features-7 h6 {
    margin-bottom: 40px;
}

.features-7 h4 {
    margin-bottom: 40px;
}

.features-7 img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

@media all and (max-width: 1280px) {
    .features-7 br {
        display: none;
    }
}

@media all and (max-width: 990px) {
    .features-7 {
        padding: 80px 0;
    }
}

@media all and (max-width: 890px) {
    .features-7 img {
        right: -80px;
    }
}

@media all and (max-width: 767px) {
    .features-7 img {
        display: none;
    }
}

/*!---------- CALLS TO ACTION ----------*/
.cta {
    overflow: hidden;
}

.cta-4 img {
    max-height: 35px;
    margin: 0 40px;
    opacity: 0.2;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.cta-4 img:hover {
    opacity: 1;
}

.cta-4 .row:nth-of-type(1) {
    margin-bottom: 80px;
}

.cta-4 h3 {
    margin-bottom: 20px;
}

.cta-4 h5 {
    color: #888;
    margin-bottom: 40px;
}

.cta-4 .btn,
.cta-5 .btn {
    margin-bottom: 10px;
}

@media all and (max-width: 1024px) {
    .cta-4 img {
        margin: 0 13.33333333px;
        max-height: 30px;
    }
}

@media all and (max-width: 767px) {
    .cta-4 img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .cta-4 .row:nth-of-type(1) {
        margin-bottom: 40px;
    }
}

