<ion-view view-title="Nuevo cobro">
  <ion-content>
    <div class="list list-inset payment">
      <label class="item item-input">
        <i class="icon ion-social-usd placeholder-icon"></i>
        <input type="text" id="value" class="money" alt="decimal" placeholder="$ 0,00" ng-model="value">
      </label>

      <p class="msg">Mensaje</p>

      <div class="row">
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 1 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 2 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 3 </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 4 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 5 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 6 </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 7 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 8 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 9 </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 0 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"> 00 </button>
        </div>
        <div class="col">
          <button class="button button-calm button-outline button-large numpad"><i class="icon ion-backspace"></i></button>
        </div>
      </div>

      <div class="input-inset">
        <a href="#/app/tarjeta" class="button button-large button-block button-calm">
          Continuar
        </a>
      </div>

    </div>

  </ion-content>

</ion-view>
