<ion-view view-title="Tu pago se processó con éxito">
  <button class="button button-icon icon ion-navicon"></button>

  <ion-content class="success">
    <div class="list">

      <div class="item">
        <h2>Visa terminada en 2045</h2>
        <div>Pago <span class="pull-right">$ {{value}}</span></div>
        <div>Costo por interés de la tarjeta <span class="pull-right">$ {{ tax }}</span></div>
        <div class="total">Total pagado <span class="pull-right">3 cuotas de $ {{ portion }}</span></div>
      </div>

      <div class="item">
        <h2>Fecha</h2>
        <div>08/12/15 - 11.30h</div>
      </div>

      <div class="item">
        <h2>ID de la operacón</h2>
        <div>#12121212</div>
      </div>

      <div class="list-inset">
        <a ng-click="reset()" class="button button-large button-block button-calm">
          Finalizar
        </a>
        <a href="#/app/payment" class="button button-large button-block button-calm button-outline">
          Envíar recibo por e-mail
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
