<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i> Nuevo cobro
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>

    <div class="list list-inset tarjeta">
      <a href="#/app/success"><img src="img/tarjeta.png" width="80%"></a>
      <h3>Inserta o desliza la tarjeta</h3>
    </div>

  </ion-content>

</ion-view>
